html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em; 
}
body {
    background-color: #979DAC;
}


header{
    background-color: #343a40;
    min-height: 2rem;

}



.profilepic{
    max-width: 12rem;
    width: 100%;
    margin-left: 3rem;
}

.pic{
    max-width: 5rem;
    height: 3rem;
    width: 100%;

}
.width-adjust{
    width: auto;
}

.add-margin{
    margin-left: 1em;
}
#textuady{
    margin-left: 3em;

}
#uady {
    margin-left: 6em;
}
h2 {
    color: #002855;
}
h3 {
    color: #053a75;

}
h4 {
    color: #044085;
    font-weight: lighter;
}

ul {
    color: #001845;
    font-weight: lighter;
}

.aboutcard {
    height: 15rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 3rem;
    /* background-color: #7D8597;
    border: 1px solid #33415C ; */

}

.subsec {
    height: 15rem;
    width: 100%;
    margin-left: 2rem;
    margin-right: 3rem;

}

.section{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

 .about-section{
     width: 100%;
     display: flex;
     align-items: flex-start;
     margin-top: 1rem;
     margin-left: 5rem;
     margin-right: 5rem;
 }

.nameheader{
    margin-top: 8rem;
    margin-left: 8rem;
    margin-right: 5rem;
    color: #001845;
    font-weight: bolder;
    
}
.subclass-elemet{
    color: #001845;
    font-weight: normal;
    margin-left: 1em ;

}

.curly {
    color: #001845;
    font-weight: lighter;
    font-style: italic;
}

.curlymini{
    color: #001845;
    font-style: italic;
    font-weight: lighter;
    font-size: .8em;
}
.img-responsive{
    max-width: 100%;
    height: 15rem;
    width: 12rem;

}

.rcorners {
    border-radius: 8px;
  }
  